body {
    height: 100%;
    background-image: url("../images/food7.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    display: flex;
    text-align: center;
    background-image: red;
}

.app-title {
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Tourney', cursive;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

.app-subheader {
    font-size: 25px;
    text-align: center;
    font-family: 'Tourney', cursive;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

main {
    display: flex;
    text-align: center;
    
}

.search-container {
    margin-top: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
    border: 3px solid black;
    background-color: aliceblue;
}

footer {
    background-color: rgb(238, 113, 190);
}